:root {
    --background-color: black;
    --button-main-light: #EAEAEA;
    --button-main-dark: #D4D4D4;
    --button-operator-dark: #CC9952;
    --button-operator-light: #FFBF66;
}

html {
    box-sizing: border-box  ;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* add a @media query for smaller than 768px */

.container {
    width: 400px;
    margin: 0;
    padding: 0;
}

.output {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0; padding: 0rem 1rem;
    background-color: var(--background-color);
    color: white;
    text-align: right;
}

.output-span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 2rem;
    font-family: monospace;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
}

.btn {
    width: 25%;
    height: 100px;
    background-color: var(--button-main-dark);
    color: black;
    font-size: 2rem;
}

.btn:hover {
    background-color: var(--button-main-light);
}

.btn-operator {
    background-color: var(--button-operator-dark);
    color: white;
}

.btn-operator:hover {
    background-color: var(--button-operator-light);
}

.btn-2x {
    width: 50%;
}

.btn-3x {
    width: 75%;
}

