/* Always set box-sizing first */
/* Never do anything else with the wild card selector '*' */
* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    height: 600px;
    width: auto;
    border: 2px solid darkgrey;
}


.swiper {
    width: 600px;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullets {
    bottom: initial;
    top: 10px;
}

